<div class="w-full bg-white p-5 rounded-md">
  <div class="flex justify-between items-center p-5 rounded-lg"></div>
  <table
    class="border border-gray-400 w-full text-left rounded-lg bg-clip-border"
  >
    <thead>
      <tr class="bg-gray-100 font-medium">
        <td class="p-2 border-b border-gray-400">No</td>
        <td class="p-5 border-b border-gray-400">Amount</td>
        <td class="p-5 border-b border-gray-400">Status</td>
        <td class="p-5 border-b border-gray-400">Date</td>
        <td class="p-5 border-b border-gray-400">Action</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="p-5 border-b border-gray-400">1</td>
        <td class="p-5 border-b border-gray-400">$3434</td>
        <td class="p-5 border-b border-gray-400">
          <span
            class="py-[1px] px-[5px] bg-orange-100 text-orange-700 rounded-md text-sm"
            >Pending</span
          >
        </td>
        <td class="p-5 border-b border-gray-400">25 Dec 2023</td>
        <td class="p-5 border-b border-gray-400">
            <button
            class="border border-sky-500 shadow-lg hover:shadow-indigo-500/50 px-3 py-[2px cursor-pointer text-sky-500 rounded-sm text-sm]"
          >
            Confirm
          </button>
        </td>
      </tr>

      <tr>
        <td class="p-5 border-b border-gray-400">2</td>
        <td class="p-5 border-b border-gray-400">$3434</td>
        <td class="p-5 border-b border-gray-400">
          <span
            class="py-[1px] px-[5px] bg-orange-100 text-orange-700 rounded-md text-sm"
            >Pending</span
          >
        </td>
        <td class="p-5 border-b border-gray-400">25 Dec 2023</td>
        <td class="p-5 border-b border-gray-400">
            <button
            class="border border-sky-500 shadow-lg hover:shadow-indigo-500/50 px-3 py-[2px cursor-pointer text-sky-500 rounded-sm text-sm]"
          >
            Confirm
          </button>
        </td>
      </tr>
      <tr>
        <td class="p-5 border-b border-gray-400">3</td>
        <td class="p-5 border-b border-gray-400">$3434</td>
        <td class="p-5 border-b border-gray-400">
          <span
            class="py-[1px] px-[5px] bg-orange-100 text-orange-700 rounded-md text-sm"
            >Pending</span
          >
        </td>
        <td class="p-5 border-b border-gray-400">25 Dec 2023</td>
        <td class="p-5 border-b border-gray-400">
          <button
            class="border border-sky-500 shadow-lg hover:shadow-indigo-500/50 px-3 py-[2px cursor-pointer text-sky-500 rounded-sm text-sm]"
          >
            Confirm
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
